<?xml version="1.0"?>
<configuration>
    <system.web>
      <authorization>
        <allow users="JieGuo" />
        <allow users="YunlongJiang" />
        <allow users="ShihuanShao" />
        <allow users="HaoYan" />
        <deny users="*" />
      </authorization>
    </system.web>
</configuration>
